:root {
     --mediumGray: #c3c1c1;
     --headlineBackground: #8e8c8c;
     --blackText: #3a3939;
     --whiteText: white;
     --bannerBackground: #1a4480;
     --bodyBackground: #eee;
     --headerBackground: #c02b31;
     --headlineColor: white;
     --mainBackground: white;
     --verseNumber: #0505da;
     --blueVerse: #0202d8;

     --shadowColor: #07070733;
     --darkGrayEmphasis: #545353;
     --lightGreenEmphasis: #07f007;
     --lightGrayEmphasis: #757575;
     --greenEmphasis: #045004;
     --lightMaroonEmphasis: #ba0e0e;
     --lighterMaroonEmphasis: #f10e0e;
     --paleMaroonEmphasis: #f85e5e;
     --maroonEmphasis: #530306;
     --navyEmphasis: navy;
     --redEmphasis: #7f0000;
     --gradientLight: #10b4e6;
     --gradientDark: #022a69;
}
.cs-northStar { font-size: 2em;}

/* Add Background Image to headers */
     .cs-sunshine { position: fixed; top: 0; left: 0; background-image: url('../../images/headers/crystal.webp'); background-size: cover; background-position: center; background-repeat: no-repeat; height: 4rem; width: 100%; z-index: 1200; aspect-ratio: 1200 / 100; }
     .cs-sunshine1 { position: fixed; top: 0; left: 0; background-size: cover; background-position: center; background-repeat: no-repeat; height: 4rem; width: 100%; z-index: 1200; aspect-ratio: 1200 / 100; }
   #id-sunshine1 {
  background-image: url("../../images/headers/crystal.webp");
}


/* End Add Background Image to header */