/*? Media Queries Widths */
     @media (max-width: 1920px) {
          .cs-mainPage { width: 60%; }
          .cs-page { width: 90%; }
          .cs-searchPage { width: 95%; }
          .cs-searchContainer { width: 100%; }
          .cs-searchBtn { width: 20%; }
     }
     @media (max-width: 1440px) {
          .cs-mainPage { width: 70%; border-radius: 6px; }
          .cs-page { width: 90%; }
          .cs-searchPage { width: 95%; }
          .cs-searchContainer { width: 100%; }
          .cs-searchBtn { width: 20%; }
     }
    @media (max-width: 1280px) {
         .cs-mainPage { width: 70%; }
         .cs-page { width: 90%; }
         .cs-searchPage { width: 95%; }
         .cs-searchContainer { width: 80%; }
         .cs-searchBtn { width: 20%; }
    }
    @media (max-width: 1025px) {
          .cs-mainPage { width: 100%; border-radius: 0; }
          .cs-page { width: 90%; }
          .cs-searchPage { width: 95%; }
          .cs-searchContainer { width: 100%; }
          .cs-searchBtn { width: 20%; }
     }
     @media (max-width: 768px) {
          .cs-menu1 { position: absolute; left: 20%; transform: translate(-25%); }
          .cs-menuBtn { font-size: 1rem; }
          .cs-books,
          .cs-versions,
          .cs-languages { width: 330px; }
          .cs-book,
          .cs-headline,
          #id-navLine { font-size: 1.1rem; }
     }
     @media (max-width: 480px) {
          .cs-headerTitle { font-size: 1em; }
          .cs-menu1 { position: absolute; left: 25%; transform: translate(-25%); }
          .cs-books,
          .cs-versions,
          .cs-languages { width: 80%; }
          .cs-page { width: 90%; }
          .cs-search { right: 15%; }
          .cs-searchPage { width: 95%; }
          .cs-searchContainer { width: 100%; }
          .cs-searchBtn { width: 20%; }
     }
     @media (max-width: 380px) { .cs-search { right: 10%; } }
     @media (max-width: 348px) {
          .cs-day,
          .cs-verse,
          .cs-chapter { font-size: 1.2em; height: 1.6em; width: 1.6em; }
          .cs-books,
          .cs-versions,
          .cs-languages { width: 100%; }
          .cs-menuBtn { font-size: .80rem; }
          .cs-book,
          .cs-version { font-size: 1.1rem; }
     }
     @media (max-width: 295px) { .cs-search { right: 6%; } }
/*? End Media Queries Widths */

/*! Media Queries Heights */
     @media (max-height: 1368px) { .cs-mainPage { margin-top: .5em; } }
     @media (max-height: 1280px) {  }
     @media (max-height: 1080px) {
          .cs-page { margin-top: 2.5em; }
          .cs-searchContainer { margin-top: 5.5em; }
          .cs-books,
          .cs-versions,
          .cs-languages { height: 49%; }
     }
     @media (max-height: 1024px) {
          .cs-books,
          .cs-versions,
          .cs-languages { height: 48%; }
     }
     @media (max-height: 932px) {
          .cs-books,
          .cs-versions,
          .cs-languages { max-height: 75%; }
     }
     @media (max-height: 741px) {
          .cs-page { margin-top: 2em; }
          .cs-searchContainer { margin-top: 5em; }
          .cs-books,
          .cs-versions,
          .cs-languages { height: 70%; }
     }
     @media (max-height: 668px) {
          .cs-searchContainer { margin-top: 5.9em; }
          .cs-books,
          .cs-versions,
          .cs-languages { max-height: 67%; }
     }
     @media (max-height: 600px) { .cs-verses { max-height: 84%; } }
     @media (max-height: 568px) {
          .cs-searchContainer { margin-top: 4.9em; }
          .cs-books,
          .cs-versions,
          .cs-languages { height: 73%; }
     }
     @media (max-height: 480px) {
          .cs-books,
          .cs-versions,
          .cs-languages { height: 83%; }
     }
/*! End Media Queries Heights */